---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Preview News Cards";
---

<Layout pageTitle={pageTitle}>
	<div class="Container">
		<Card
			cardImageAlt="Card Main Picture"
			category="Learning"
			date="Published 21 Dec 2023"
			title="HTML & CSS foundations"
			description="These languages are the blackbone of every website, defining structure, content, and presentation."
			avatarImageAlt="Profile picture"
			author="Greg Hooper"
		/>
	</div>
</Layout>
