---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Preview News Cards";
---

<Layout pageTitle={pageTitle}>
	<div class="Container">
		<Card />
	</div>
</Layout>
